.logoMEN {
  width: 241px;
}

.fondoLogoMen {
  background: #f6f6f6 !important;
}

.fondoMenu {
  background: #36384a !important;
}

.mapaColombia {
  height: 647px !important;
}

/* GOOGLE MAPS */

/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
  height: 100%;
}

/* 
   * Optional: Makes the sample page fill the window. 
   */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
